Source: st2chatops
Section: unknown
Priority: optional
Maintainer: StackStorm Engineering <opsadmin@stackstorm.com>
Build-Depends: debhelper (>= 12)
Standards-Version: 3.9.5
Homepage: https://github.com/stackstorm/st2chatops
Vcs-Git: git://github.com/stackstorm/st2chatops.git
Vcs-Browser: https://github.com/stackstorm/st2chatops

Package: st2chatops
Architecture: any
Pre-Depends: dpkg (>= 1.16.16)
Depends: nodejs (>= 20.0.0)
Description: St2Chatops - StackStorm ChatOps.
 Package providing StackStorm ChatOps functionality: bundled, tested and ready to use Hubot
 with hubot-stackstorm plugin and additional chat adapters
