#!/usr/bin/make -f

IS_SYSTEMD := $(shell command -v dh_systemd_enable > /dev/null 2>&1 && echo true)
# Avoid building .ddeb debug packages: https://lists.debian.org/debian-devel/2015/12/msg00262.html
DEB_BUILD_OPTIONS = noddebs

%:
ifeq (true, $(IS_SYSTEMD))
	dh $@ --with=systemd
else
	dh $@
endif

override_dh_installinit:
	# So far don't start services
ifeq (true, $(IS_SYSTEMD))
	dh_systemd_enable --name=st2chatops st2chatops.service
else
	dh_installinit --no-start --name=st2chatops
endif
