#!/usr/bin/make -f

# Avoid building .ddeb debug packages: https://lists.debian.org/debian-devel/2015/12/msg00262.html
DEB_BUILD_OPTIONS = noddebs

%:
	dh $@

override_dh_installinit:
	# So far don't start services
	dh_installsystemd --name=st2chatops st2chatops.service
